a {
  background-color: #ab1647;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

a:hover {
  color: #ffffffe5;
}

h1 {
  color: #975a4a;
  font-size: 50px;
}

ul {
  list-style: none;
  width: 500px;
  margin: 20px auto;
  padding: 0;
}

li {
  font-size: 20px;
  padding: 15px;
  margin: 20px 0;
  background-color: #d1a09678;
  border-radius: 20px;
}
