a {
  background-color: #ab1647;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Fira Sans", sans-serif;
}

a:hover {
  color: #ffffffe5;
  background-color: #b40c5a;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #3f3738;
  font-size: 50px;
  margin: 20px 0;
}

ul {
  list-style: none;
  width: 500px;
  margin: 20px auto;
  padding: 0;
}

li {
  font-size: 20px;
  padding: 15px;
  margin: 20px 0;
  background-color: #d1a09678;
  border-radius: 20px;
}

h2 {
  color: #4d1307;
  margin: 8px 0;
}

main p {
  color: #431e18;
  margin: 12px 0;
}

.highlight-goal {
  background-color: #c5665378;
}
