main {
  width: 800px;
  margin: 150px auto 55px auto;
  background-color: #c5665378;
  border: 3px solid #3c2f2a;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 3px solid #3c2f2a;
  margin-top: -110px;
}

h1 {
  color: #341a14;
}

span {
  color: #420202;
}

a {
  color: #491d32;
}

a:hover {
  color: #8b412e;
}

#challenge {
  color: #4f332a;
  font-size: 50px;
  font-weight: bold;
}
