img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

h1 {
  color: #4a423e;
}

a {
  color: #975a4a;
}

a:hover {
  color: #8b412e;
}

#challenge {
  color: #975a4a;
  font-size: 50px;
  font-weight: bold;
}
