* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #282522;
}

header {
  background-color: #1c1919;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #ffa500;
  text-decoration: none;
}

header a:hover {
  color: #f0ba56;
}

#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

header nav {
  display: flex;
  gap: 1.2rem;
}

main h1 {
  text-align: center;
  color: #dd9002;
  padding: 1.2rem 0;
  font-size: 3rem;
}

main ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.2rem 0;
}

main li {
  background-color: #e4ceb6;
  border-radius: 8px;
  text-align: center;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li img {
  height: 15rem;
  object-fit: cover;
}

li a {
  background-color: #e4870e;
  text-decoration: none;
  color: #f3f6f8;
  width: fit-content;
  margin: 0 auto 0.5rem auto;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
}

li a:hover {
  background-color: #c26f04;
}
