#board-game {
  text-align: center;
  display: none;
}

#board-game aside {
  width: 50%;
  margin: 0 auto 1rem auto;
  background-color: #2f004d;
  color: #e6dfec;
  border-radius: 4px;
  padding: 1.5rem;
  display: none;
}

#board-game h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#board-game span {
  font-weight: bold;
}

#board-game ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;
  width: max-content;
  margin: 1rem auto;
}

#board-game li {
  background-color: #d4b1f8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
}

#board-game li:hover {
  background-color: #6700c6;
}

#board-game .box-selected {
  background-color: #6700c6;
  color: #f1d8fb;
  cursor: default;
}
