#modal-background {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal-content {
  position: fixed;
  left: calc(50% - 25%);
  background-color: #f2e9f8;
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  display: none;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content label {
  display: block;
  font-weight: bold;
  margin: 0.5rem 0;
}

.modal-content input {
  font: inherit;
  width: 15rem;
  border: 1px solid #b9b9b9;
  padding: 0.3rem;
}

.error {
  color: #8f0909;
}

.error input {
  background-color: #eed9c0;
  border-color: #8f0909;
}
